.content_menu{
  width: 100vw;
  height: 100vh;
  transition: 2s display ease;
  position: fixed;
  background-color: white;
  top: 44px;
  padding: 20px;
  z-index: 2;
  overflow: hidden;
   @include media-up(lg){
     top: 60px;
  };
  
}

.content_menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
}
.nav_link {
  margin-top: 30px;
  cursor: pointer;
   @include media-up(lg){
     font-size: 1.3rem 
  };
}
// .nav_link:hover{
//   border-bottom: 1px solid $secondary;
// }