.navBar{
  background: white;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 45px;
  padding: 15px;
  position: fixed;
  overflow-y: hidden;
  @include media-up(lg){
    height: 60px;
  }
}
.navBar img{
  border-radius: 50%;
}
.navBar button{
 width: 40px;
 margin-left: auto;
 margin-right: 10px;
 cursor: pointer;
 @include media-up(lg){
   width: 70px;
   height: 40px;
   font-size: 1.4rem;
 }
}
.navBar span{
  margin-left: 20px;
  @include media-up(lg){
   font-size: 2rem;
  } 
}
