.navBar{
  background: white;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 45px;
  padding: 15px;
  position: fixed;
  overflow-y: hidden;
}
.navBar img{
  border-radius: 50%;
}
.navBar button{
 width: 40px;
 margin-left: auto;
 margin-right: 10px;
 cursor: pointer;
}
.navBar span{
  margin-left: 20px;
}
